<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>fr.polyphone.sf2</string>
      <key>UTTypeDescription</key>
      <string>SoundFont 2 file</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>sf2</string>
      </dict>
    </dict>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>fr.polyphone.sf3</string>
      <key>UTTypeDescription</key>
      <string>SoundFont 3 file</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>sf3</string>
      </dict>
    </dict>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>fr.polyphone.sfark</string>
      <key>UTTypeDescription</key>
      <string>sfArk soundfont archive</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.archive</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>sfark</string>
      </dict>
    </dict>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>fr.polyphone.sfz</string>
      <key>UTTypeDescription</key>
      <string>SFZ instrument definition</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.text</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>sfz</string>
      </dict>
    </dict>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>fr.polyphone.organ</string>
      <key>UTTypeDescription</key>
      <string>GrandOrgue organ definition</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>organ</string>
      </dict>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>SoundFont 2 file</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>fr.polyphone.sf2</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>file_sf2</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>SoundFont 3 file</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>fr.polyphone.sf3</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>file_sf3</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>sfArk soundfont archive</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>fr.polyphone.sfark</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>file_sfArk</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>SFZ instrument definition</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>fr.polyphone.sfz</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>file_sfz</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>GrandOrgue organ definition</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>fr.polyphone.organ</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>file_organ</string>
    </dict>
  </array>
  <key>CFBundleExecutable</key>
  <string>Polyphone</string>
  <key>CFBundleIconFile</key>
  <string>polyphone.icns</string>
  <key>CFBundleIdentifier</key>
  <string>fr.polyphone.Polyphone</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Polyphone</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>2.5.1</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSServices</key>
  <array>
    <dict>
      <key>NSPortName</key>
      <string>Polyphone</string>
      <key>NSSendTypes</key>
      <array>
        <string>NSStringPboardType</string>
        <string>NSURLPboardType</string>
      </array>
    </dict>
  </array>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
</dict>
</plist>
