dist: xenial
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-7
    - qt5-default
    - libqt5svg5-dev
    - libasound2-dev
    - libjack-jackd2-dev
    - portaudio19-dev
    - librtmidi-dev
    - libstk0-dev
    - libqcustomplot-dev
    - libvorbis-dev
    - libogg-dev
    - libssl-dev
    - libflac-dev
script:
  - cd sources && qmake polyphone.pro QMAKE_CC=gcc-7 QMAKE_CXX=gcc-7 DEFINES+=USE_LOCAL_QCUSTOMPLOT && make -j$(nproc)