<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
         		<string>polyphoneFile.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
  				<string>SF2</string>
  				<string>SF3</string>
  				<string>SFZ</string>
  				<string>SFARK</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sf2</string>
				<string>sf3</string>
				<string>sfz</string>
				<string>sfArk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Soundfont</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Polyphone</string>
	<key>CFBundleIconFile</key>
	<string>polyphone.icns</string>
	<key>CFBundleIdentifier</key>
	<string>fr.polyphone.Polyphone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Polyphone</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>pphn</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSPortName</key>
			<string>Polyphone</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSURLPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
