IDI_ICON_APP     ICON DISCARDABLE "../packaging/windows/polyphone.ico"
IDI_ICON_SF2     ICON DISCARDABLE "../packaging/windows/file_sf2.ico"
IDI_ICON_SF3     ICON DISCARDABLE "../packaging/windows/file_sf3.ico"
IDI_ICON_SFARK   ICON DISCARDABLE "../packaging/windows/file_sfark.ico"
IDI_ICON_SFZ     ICON DISCARDABLE "../packaging/windows/file_sfz.ico"
IDI_ICON_ORGAN   ICON DISCARDABLE "../packaging/windows/file_organ.ico"
