0 ICON DISCARDABLE "../packaging/windows/polyphone.ico"
1 ICON DISCARDABLE "../packaging/windows/file_sf2.ico"
2 ICON DISCARDABLE "../packaging/windows/file_sf3.ico"
3 ICON DISCARDABLE "../packaging/windows/file_sfark.ico"
4 ICON DISCARDABLE "../packaging/windows/file_sfz.ico"
5 ICON DISCARDABLE "../packaging/windows/file_organ.ico"
