/* Polyphone overwrite styles for ReadTheDocs theme */

/* General styles
================= */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.8;
	font-weight: 400;
	color: #454238;
}

.rst-content p {
	font-size: 14px;
	text-align: justify;
	margin: 0 0 20px;
}

.rst-content h1,
.rst-content h2,
.rst-content h3,
.rst-content h4,
.rst-content h5,
.rst-content h6 {
	font-weight: 600;
	color: #292723;
	margin-bottom: 15px;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
}

.rst-content h1 {
	font-size: 36px;
	margin-top: 0;
}

.rst-content h2 {
	font-size: 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background: #c17f44;
	padding: 8px 15px;
	color: white;
	border-radius: 0 15px 0 15px;
	margin: 30px 0;
}

.rst-content h3 {
	font-size: 17px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	color: #c17f44;
	padding: 5px 0px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(86,86,86,0.3);
	margin: 20px 0;
}


.rst-content a {
	color: #c17f44;
	text-decoration: none;
}

.rst-content a:hover,
.rst-content a:focus {
	text-decoration: none;
	color: #01090C;
}

.rst-content kbd {
	border: 1px solid #aaa;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	box-shadow: 0.1em 0.2em 0.2em #ddd;
	-moz-box-shadow: 0.1em 0.2em 0.2em #ddd;
	-webkit-box-shadow: 0.1em 0.2em 0.2em #ddd;
	background-color: f9f9f9;
	font-family: inherit;
	font-size: 0.85em;
	background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee);
	background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee);
	background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee);
	background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee);
	background-image: linear-gradient(top, #eee, #f9f9f9, #eee);
	padding: 0.1em 0.3em;
	white-space: nowrap;
}

.rst-content .figure,
.rst-content .figure p {
	text-align: center;
}


.rst-content .guilabel,
.rst-content .menuselection {
	border: 1px solid #e3ae7f;
	background: #faf0e7;
	font-size: 80%;
	font-weight: 700;
	border-radius: 4px;
	padding: 2.4px 6px;
	margin: auto 2px;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td,
.wy-table th,
.rst-content table.docutils th,
.rst-content table.field-list th {
	font-size: 100%;
}
