Source: polyphone
Section: sound
Priority: optional
Maintainer: Davy Triponney <davy.triponney@gmail.com>
Build-Depends:
 alsa-utils,
 debhelper (>= 9.0.0),
 dpkg-dev (>= 1.16.1~),
 libasound2-dev,
 libjack-jackd2-dev,
 portaudio19-dev,
 libqt4-dev (>= 4:4.6.3),
 zlib1g-dev,
 librtmidi-dev,
 libstk0-dev,
 libqcustomplot-dev,
 libogg-dev,
 libvorbis-dev
Standards-Version: 3.9.6
Homepage: http://www.polyphone.fr

Package: polyphone
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: soundfont editor
 Polyphone is a free software for editing soundfonts.
 These files contain a multitude of audio samples put together and
 configured so as to form musical instruments that can be used by
 synthesizers such as fluidsynth and played using a MIDI keyboard.
 The goal of Polyphone is to provide:
  - a simple and efficient interface for creating and editing soundfonts,
 available on Linux, Windows and Mac OS X,
  - tools to facilitate and automate the setting of different parameters,
 making it possible to handle a large amount of data.
 .
 Main features:
  - support of sf2 format v2.01 and v2.04 (with 24-bit samples),
  - import from sfz, sfArk, sf3,
  - export as sfz, sf3,
  - support for jack and asio audio servers,
  - simultaneous editing of parameters,
  - specific tools for musical instrument creation,
  - automatic detection of the sample pitch and correction,
  - automatic loop of samples,
  - a recorder, for the record of what is played in a .wav file,
  - built-in synthesizer, using a virtual keyboard or midi signals,
  - built-in user manual,
  - available in several languages.
