[Desktop Entry]
Name=Polyphone
Name[fr]=Polyphone
Name[sr]=Полифон
Name[ru]=Полифон
Comment=soundfont editor
Comment[fr]=éditeur de soundfonts
Comment[en]=soundfont editor
Comment[sr]=Уређивач звукотека (звучних фонтова)
TryExec=polyphone
Exec=polyphone %F
Icon=polyphone
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;Midi;Music
Keywords=sf2;sfz;sfArk;soundfonts;editor;instrument
MimeType=audio/x-soundfont;
