[Desktop Entry]
Name=Polyphone
Name[fr]=Polyphone
Comment=edit soundfont
Comment[fr]=édite des soundfonts
TryExec=polyphone
Exec=polyphone %F
Icon=polyphone
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;Midi;Music
Keywords=sf2;sfz;sfArk;soundfonts;editor;instruments
MimeType=audio/x-soundfont;
