name: Build & Release

on:
  push:
    tags:
      - '*'

jobs:
  build-windows:
    uses: ./.github/workflows/build-windows.yml
    with:
      tag: ${{ github.ref_name }}

  build-linux:
    uses: ./.github/workflows/build-linux.yml
    with:
      tag: ${{ github.ref_name }}

  build-macos:
    uses: ./.github/workflows/build-macos.yml
    with:
      tag: ${{ github.ref_name }}

  create-release:
    needs:
      - build-windows
      - build-linux
      - build-macos
    uses: ./.github/workflows/create-release.yml
    with:
      tag: ${{ github.ref_name }}
